blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
gunicorn==23.0.0
idna==3.8
imageio==2.35.1
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
langid==1.1.6
lazy_loader==0.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
networkx==3.3
numpy==2.1.0
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
prompt_toolkit==3.0.50
Pygments==2.19.1
python-dotenv==1.0.1
PyWavelets==1.7.0
questionary==2.1.0
requests==2.32.3
rich==13.9.4
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.1
threadpoolctl==3.5.0
tifffile==2024.8.10
typing_extensions==4.12.2
urllib3==2.2.2
wcwidth==0.2.13
Werkzeug==3.0.6
