body {
    font-family: Sans-Serif;
    max-width: 42em;
    margin: auto;
    text-align: center;
    padding: 2em 1em;
}

.container {
    display: flex;
    justify-content: center;
}

.header h1 {
    color: #1DB954;
    font-weight: bold;
}

form {
    padding: 2em 0 !important;
}

.input-field {
    margin-right: 0.75em; /* Adds space between input field and submit button */
}

.submit-button {
    width: 30%;
}
